#nav-mobile {
    padding: 10px !important;
}
#nav-mobile input{
    width: 90%;
}
#nav-mobile i{
    margin-top: 5px;
}

.imgSize{
    width: 75px;
    height: 75px;
    margin-right: 10px;
}
#favoritesWrapper .material-icons {
    font-family: none !important;
}
